.footer {
    background: #F4F4F4;
    &-content {
        padding: 4rem 0;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        @media screen and (max-width: 776px) {
            grid-template-columns: 1fr;
        }
    }
    &-bottom {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        border-top: 1px solid #0000001A;
        align-items: center;
        font-size: 1rem;
        color: #7C8495;
    }

    &-item {
        p {
            font-size: 1.25rem;
            color: black;
        }
        &.consultation {
            p {
                font-size: 1.5rem;
                color: #A09B9B;
                font-weight: 600;
            }
            a {
                color: #047ACF;
                font-size: 1.25rem;
                font-weight: 700;
            }
        }
        .copy {
            display: flex;
            align-items: center;
            text-decoration: underline;
            color: black;
            &::after {
                content: url(./../icons/copy.svg);
                margin-left: 10px;
                display: flex;
                align-items: center;
            }
        }
    }
}