.contact {
    padding: 4rem 0;
    h2 {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    &-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        @media screen and (max-width: 991px) {
            grid-template-columns: 1fr;
        }
        p {
            font-size: 1.25rem;
        }
        margin-bottom: 3rem;
    }
    &-map {
        overflow: hidden;
        width: 100%;
        height: 260px;
        border: 1px solid #ECECEC;
        border-radius: 10px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}